# pixi environments
.pixi/*
!.pixi/config.toml

# Project directories
analyzed/*
data/processed/*
results/*
!analyzed/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep

__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Processed data and results
/counts/
/figures/
